<br/><hr/><br/>
<aside class="ui_aside auto-container">
  <a href="{{ site.data.type.merge.link | absolute_url }}">
    <img src="{{ site.data.type.merge.icon | absolute_url }}" alt="{{ site.data.type.merge.title }}" height="24" width="24" loading="lazy"/>
    {{ site.data.type.merge.title }}
    <div class="subtitle">{{ site.data.type.merge.subtitle }}.</div>
  </a>
  <a href="{{ site.data.type.rotate.link | absolute_url }}">
    <img src="{{ site.data.type.rotate.icon | absolute_url }}" alt="{{ site.data.type.rotate.title }}" height="24" width="24" loading="lazy"/>
    {{ site.data.type.rotate.title }}
    <div class="subtitle">{{ site.data.type.rotate.subtitle }}</div>
  </a>
  <a href="{{ site.data.type.reorder.link | absolute_url }}">
    <img src="{{ site.data.type.reorder.icon | absolute_url }}" alt="{{ site.data.type.reorder.title }}" height="24" width="24" loading="lazy"/>
    {{ site.data.type.reorder.title }}
    <div class="subtitle">{{ site.data.type.reorder.subtitle }}</div>
  </a>
  <a href="{{ site.data.type.combine.link | absolute_url }}">
    <img src="{{ site.data.type.combine.icon | absolute_url }}" alt="{{ site.data.type.combine.title }}" height="24" width="24" loading="lazy"/>
    {{ site.data.type.combine.title }}
    <div class="subtitle">{{ site.data.type.combine.subtitle }}</div>
  </a>
  <a href="{{ site.data.type.rotate_pages.link | absolute_url }}">
    <img src="{{ site.data.type.rotate_pages.icon | absolute_url }}" alt="{{ site.data.type.rotate_pages.title }}" height="24" width="24" loading="lazy"/>
    {{ site.data.type.rotate_pages.title }}
    <div class="subtitle">{{ site.data.type.rotate_pages.subtitle }}</div>
  </a>
  <a href="{{ site.data.type.remove.link | absolute_url }}">
    <img src="{{ site.data.type.remove.icon | absolute_url }}" alt="{{ site.data.type.remove.title }}" height="24" width="24" loading="lazy"/>
    {{ site.data.type.remove.title }}
    <div class="subtitle">{{ site.data.type.remove.subtitle }}</div>
  </a>
</aside>
<br/><hr/><br/>
<footer class="ui_footer auto-container">
  <div class="ui_intro">
    <details open>
    <summary><img src="{{"/assets/icons/shield.svg" | absolute_url}}" alt="Secure" height="48" width="48" loading="lazy"/><br/>Secure PDF Operation</summary>
    No files are uploaded to secondary location.
    </details>
    <details open>
    <summary><img src="{{"/assets/icons/code.svg" | absolute_url}}" alt="Code" height="48" width="48" loading="lazy"/><br/>Open-Sourced</summary>
    All processing happens in your browser only, through the magic of JavaScript.
    </details>
    <details open>
    <summary><img src="{{"/assets/icons/alert-circle.svg" | absolute_url}}" alt="Alert" height="48" width="48" loading="lazy"/><br/>Platform Independent</summary>
    Works for Windows, Mac, Linux, & all Mobile environments. No Installation necessary.
    </details>
  </div>
</footer>