<nav id="sidenav">
  <br/>
  <a href="#" id="sidenav-close" aria-label="Close Menu"></a>
  <br/>
  <img src="{{ "/assets/images/logo.jpg" | absolute_url }}" height="48" width="auto"/>
  <br/>
  <br/>
  <a href="{{ "/pdf-merge" | absolute_url }}">Merge PDF</a>
  <a href="{{ "/pdf-rotate" | absolute_url }}">Rotate PDF</a>
  <a href="{{ "/pdf-sort" | absolute_url }}">Sort PDF</a>
  <br/>
  <a href="{{ "/pdf-combine-pages" | absolute_url }}">Combine PDF Pages</a>
  <a href="{{ "/pdf-remove-pages" | absolute_url }}">Remove PDF Pages</a>
  <a href="{{ "/pdf-rotate-pages" | absolute_url }}">Rotate PDF Pages</a>
</nav>