<nav id="sidenav">
  <a href="#" id="sidenav-close" class="ui_nav" aria-label="Close Menu"></a>
  <hr/>
  <div class="ui_logo">pdfVise</div>
  <hr/>
  <a href="{{ "/pdf-merge" | absolute_url }}" class="ui_nav">Merge PDF</a>
  <a href="{{ "/pdf-rotate" | absolute_url }}" class="ui_nav">Rotate PDF</a>
  <a href="{{ "/pdf-sort" | absolute_url }}" class="ui_nav">Sort PDF</a>
  <a href="{{ "/pdf-combine-pages" | absolute_url }}" class="ui_nav">Combine PDF Pages</a>
  <a href="{{ "/pdf-remove-pages" | absolute_url }}" class="ui_nav">Remove PDF Pages</a>
  <a href="{{ "/pdf-rotate-pages" | absolute_url }}" class="ui_nav">Rotate PDF Pages</a>
  <hr/>
</nav>