<nav id="sidenav">
  <br/>
  <a href="#" id="sidenav-close" aria-label="Close Menu"></a>
  <br/>
  <img src="{{ "/assets/images/logo.jpg" | absolute_url }}" height="48" width="auto" alt="PDFvise Logo"/>
  <br/>
  <br/>
  <a href="{{ site.data.type.merge.link | absolute_url }}">{{ site.data.type.merge.title }}</a>
  <a href="{{ site.data.type.rotate.link | absolute_url }}">{{ site.data.type.rotate.title }}</a>
  <a href="{{ site.data.type.reorder.link | absolute_url }}">{{ site.data.type.reorder.title }}</a>
  <br/>
  <a href="{{ site.data.type.combine.link | absolute_url }}">{{ site.data.type.combine.title }}</a>
  <a href="{{ site.data.type.rotate_pages.link | absolute_url }}">{{ site.data.type.rotate_pages.title }}</a>
  <a href="{{ site.data.type.remove.link | absolute_url }}">{{ site.data.type.remove.title }}</a>
</nav>