@keyframes loading {
  100% { transform: rotate(360deg) }
}

.ui_wrap {
  padding: 8px 0px;
  margin: auto;
  &:after {
    display: none;
  }
  &[data-state="1"] {
    & +.ui_loading {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff9;
    }
    &:after {
      position: fixed;
      top: 0; bottom: 0; left: 0; right: 0;
      z-index: 4;
      background-color: #fffc;
    }
  }
}

.ui_loading {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  &:before {
    content: '';
    display: inline-block;
    height: 256px;
    width: 256px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0iZmVhdGhlciBmZWF0aGVyLWxvYWRlciI+PGxpbmUgeDE9IjEyIiB5MT0iMiIgeDI9IjEyIiB5Mj0iNiI+PC9saW5lPjxsaW5lIHgxPSIxMiIgeTE9IjE4IiB4Mj0iMTIiIHkyPSIyMiI+PC9saW5lPjxsaW5lIHgxPSI0LjkzIiB5MT0iNC45MyIgeDI9IjcuNzYiIHkyPSI3Ljc2Ij48L2xpbmU+PGxpbmUgeDE9IjE2LjI0IiB5MT0iMTYuMjQiIHgyPSIxOS4wNyIgeTI9IjE5LjA3Ij48L2xpbmU+PGxpbmUgeDE9IjIiIHkxPSIxMiIgeDI9IjYiIHkyPSIxMiI+PC9saW5lPjxsaW5lIHgxPSIxOCIgeTE9IjEyIiB4Mj0iMjIiIHkyPSIxMiI+PC9saW5lPjxsaW5lIHgxPSI0LjkzIiB5MT0iMTkuMDciIHgyPSI3Ljc2IiB5Mj0iMTYuMjQiPjwvbGluZT48bGluZSB4MT0iMTYuMjQiIHkxPSI3Ljc2IiB4Mj0iMTkuMDciIHkyPSI0LjkzIj48L2xpbmU+PC9zdmc+");
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
    animation: loading 3s linear infinite;
  }
}

.ui_source {
  display: flex;
  position: relative;
  width: 100%;
  height: 150px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  cursor: pointer;
  &:before{
    content: '';
    position:absolute;
    top: 12px;
    bottom: 12px;
    left: 12px;
    right: 12px;
    border: 1px dashed #999;
  }
  &:after {
    content: 'Select, Add or Drop Files Here';
    padding-left: 28px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0iZmVhdGhlciBmZWF0aGVyLXVwbG9hZCI+PHBhdGggZD0iTTIxIDE1djRhMiAyIDAgMCAxLTIgMkg1YTIgMiAwIDAgMS0yLTJ2LTQiPjwvcGF0aD48cG9seWxpbmUgcG9pbnRzPSIxNyA4IDEyIDMgNyA4Ij48L3BvbHlsaW5lPjxsaW5lIHgxPSIxMiIgeTE9IjMiIHgyPSIxMiIgeTI9IjE1Ij48L2xpbmU+PC9zdmc+");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 24px;
  }
  &:hover {
    filter: blur(1px);
  }
  input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
  }
}

.ui_action {
  display: none;
  margin: 8px 0px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  &.active {
    display: flex;
  }
}

.ui_thumb {
  padding: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ui_how {
  display: flex;  
  line-height: 1.8;
  letter-spacing: 1px;
  align-items: center;
  justify-content: center;
  img {
    opacity: 0.3;
  }
  summary {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }  
}

.btn_action {
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  background-color: #999;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px;
  cursor: pointer;
}

.btn_reload {
  padding-left: 48px;
  box-shadow: 0px 5px 0px 0px #3C93D5;
  background-color: #55acee;  
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0iZmVhdGhlciBmZWF0aGVyLXJlZnJlc2gtY3ciPjxwb2x5bGluZSBwb2ludHM9IjIzIDQgMjMgMTAgMTcgMTAiPjwvcG9seWxpbmU+PHBvbHlsaW5lIHBvaW50cz0iMSAyMCAxIDE0IDcgMTQiPjwvcG9seWxpbmU+PHBhdGggZD0iTTMuNTEgOWE5IDkgMCAwIDEgMTQuODUtMy4zNkwyMyAxME0xIDE0bDQuNjQgNC4zNkE5IDkgMCAwIDAgMjAuNDkgMTUiPjwvcGF0aD48L3N2Zz4=");
  background-position: 12px center;
  &:hover {
    background-color: #6FC6FF;
  }
}

.btn_process {
  padding-right: 48px;
  box-shadow: 0px 5px 0px 0px #15B358;
  background-color: #2ecc71;  
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0iZmVhdGhlciBmZWF0aGVyLXNhdmUiPjxwYXRoIGQ9Ik0xOSAyMUg1YTIgMiAwIDAgMS0yLTJWNWEyIDIgMCAwIDEgMi0yaDExbDUgNXYxMWEyIDIgMCAwIDEtMiAyeiI+PC9wYXRoPjxwb2x5bGluZSBwb2ludHM9IjE3IDIxIDE3IDEzIDcgMTMgNyAyMSI+PC9wb2x5bGluZT48cG9seWxpbmUgcG9pbnRzPSI3IDMgNyA4IDE1IDgiPjwvcG9seWxpbmU+PC9zdmc+");
  background-position: right 12px center;
  &:hover {
    background-color: #48E68B;
  }
}

@media(max-width: 1024px) {
  .ui_how {
    flex-wrap: wrap;
  }
}